/** @format */

.checkoutDesc {
  font-size: 1rem;
  width: 250px;

  /**Major Properties**/
  overflow: hidden;
  line-height: 1.5rem;
  max-height: 8rem;
  -webkit-box-orient: vertical;
  display: block;
  display: -webkit-box;
  overflow: hidden !important;
  text-overflow: ellipsis;
  -webkit-line-clamp: 4;
}
